<a href="https://colab.research.google.com/github/AkhilKumarMatala/21073209_Football_Prediction_Project/blob/main/Football_perdiction_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as fmp_pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
fmp_data = fmp_pd.read_csv('/content/drive/MyDrive/Datasets/final_dataset.csv')

In [3]:
fmp_data

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
0,0,19/08/00,Charlton,Man City,4,0,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
1,1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2,2,19/08/00,Coventry,Middlesbrough,1,3,NH,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
3,3,19/08/00,Derby,Southampton,2,2,NH,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
4,4,19/08/00,Leeds,Everton,2,0,H,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,6835,13/05/18,Newcastle,Chelsea,3,0,H,36,62,47,...,0,0,1,0,0,0,-0.289474,0.710526,-0.763158,-0.263158
6836,6836,13/05/18,Southampton,Man City,0,1,NH,37,105,55,...,0,0,1,0,0,0,-0.473684,2.052632,-1.605263,-0.131579
6837,6837,13/05/18,Swansea,Stoke,1,2,NH,27,33,54,...,0,0,0,0,0,0,-0.710526,-0.894737,0.078947,-0.052632
6838,6838,13/05/18,Tottenham,Leicester,5,4,H,69,52,32,...,0,0,0,0,0,0,0.973684,-0.078947,0.710526,0.078947
6839,6839,13/05/18,West Ham,Everton,3,1,H,45,43,67,...,0,0,0,0,0,0,-0.578947,-0.315789,-0.263158,-0.105263

In [4]:
fmp_data.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
fmp_data.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'MW', 'HTFormPtsStr', 'ATFormPtsStr',
       'HTFormPts', 'ATFormPts', 'HTWinStreak3', 'HTWinStreak5',
       'HTLossStreak3', 'HTLossStreak5', 'ATWinStreak3', 'ATWinStreak5',
       'ATLossStreak3', 'ATLossStreak5', 'HTGD', 'ATGD', 'DiffPts',
       'DiffFormPts'],
      dtype='object')

In [6]:
fmp_data.shape

(6840, 39)

In [7]:
fmp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 39 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6840 non-null   object
 1   HomeTeam       6840 non-null   object
 2   AwayTeam       6840 non-null   object
 3   FTHG           6840 non-null   int64
 4   FTAG           6840 non-null   int64
 5   FTR            6840 non-null   object
 6   HTGS           6840 non-null   int64
 7   ATGS           6840 non-null   int64
 8   HTGC           6840 non-null   int64
 9   ATGC           6840 non-null   int64
 10  HTP            6840 non-null   float64
 11  ATP            6840 non-null   float64
 12  HM1            6840 non-null   object
 13  HM2            6840 non-null   object
 14  HM3            6840 non-null   object
 15  HM4            6840 non-null   object
 16  HM5            6840 non-null   object
 17  AM1            6840 non-null   object
 18  AM2            6840 non-null   object
 19  AM3            6840 non-null   object
 20  AM4            6840 non-null   object
 21  AM5            6840 non-null   object
 22  MW             6840 non-null   float64
 23  HTFormPtsStr   6840 non-null   object
 24  ATFormPtsStr   6840 non-null   object
 25  HTFormPts      6840 non-null   int64
 26  ATFormPts      6840 non-null   int64
 27  HTWinStreak3   6840 non-null   int64
 28  HTWinStreak5   6840 non-null   int64
 29  HTLossStreak3  6840 non-null   int64
 30  HTLossStreak5  6840 non-null   int64
 31  ATWinStreak3   6840 non-null   int64
 32  ATWinStreak5   6840 non-null   int64
 33  ATLossStreak3  6840 non-null   int64
 34  ATLossStreak5  6840 non-null   int64
 35  HTGD           6840 non-null   float64
 36  ATGD           6840 non-null   float64
 37  DiffPts        6840 non-null   float64
 38  DiffFormPts    6840 non-null   float64
dtypes: float64(7), int64(16), object(16)
memory usage: 2.0+ MB

In [8]:
fmp_data.isnull().sum()

Date             0
HomeTeam         0
AwayTeam         0
FTHG             0
FTAG             0
FTR              0
HTGS             0
ATGS             0
HTGC             0
ATGC             0
HTP              0
ATP              0
HM1              0
HM2              0
HM3              0
HM4              0
HM5              0
AM1              0
AM2              0
AM3              0
AM4              0
AM5              0
MW               0
HTFormPtsStr     0
ATFormPtsStr     0
HTFormPts        0
ATFormPts        0
HTWinStreak3     0
HTWinStreak5     0
HTLossStreak3    0
HTLossStreak5    0
ATWinStreak3     0
ATWinStreak5     0
ATLossStreak3    0
ATLossStreak5    0
HTGD             0
ATGD             0
DiffPts          0
DiffFormPts      0
dtype: int64

In [9]:
print("Number of Duplicates Found in our Dataset: ",fmp_data.duplicated().sum())

Number of Duplicates Found in our Dataset:  0

In [10]:
fmp_data.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTGS', 'ATGS',
       'HTGC', 'ATGC', 'HTP', 'ATP', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1',
       'AM2', 'AM3', 'AM4', 'AM5', 'MW', 'HTFormPtsStr', 'ATFormPtsStr',
       'HTFormPts', 'ATFormPts', 'HTWinStreak3', 'HTWinStreak5',
       'HTLossStreak3', 'HTLossStreak5', 'ATWinStreak3', 'ATWinStreak5',
       'ATLossStreak3', 'ATLossStreak5', 'HTGD', 'ATGD', 'DiffPts',
       'DiffFormPts'],
      dtype='object')

In [11]:
# Identifying categorical and numerical columns
categorical_cols = fmp_data.select_dtypes(include=['object']).columns.tolist()
numerical_cols = fmp_data.select_dtypes(include=['number']).columns.tolist()

print("Categorical columns:", categorical_cols)
print("Numerical columns:", numerical_cols)

Categorical columns: ['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'HM1', 'HM2', 'HM3', 'HM4', 'HM5', 'AM1', 'AM2', 'AM3', 'AM4', 'AM5', 'HTFormPtsStr', 'ATFormPtsStr']
Numerical columns: ['FTHG', 'FTAG', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP', 'MW', 'HTFormPts', 'ATFormPts', 'HTWinStreak3', 'HTWinStreak5', 'HTLossStreak3', 'HTLossStreak5', 'ATWinStreak3', 'ATWinStreak5', 'ATLossStreak3', 'ATLossStreak5', 'HTGD', 'ATGD', 'DiffPts', 'DiffFormPts']

**Exploratory Data Analysis**